.grid {
  display: grid;
  margin: 0rem 0rem;
  padding: 0;
  justify-content: center;
  grid-template-columns: repeat(auto-fill,180px);
}


@media (max-width: 1920px) { 

  .grid {
    grid-template-columns: repeat(auto-fill,300px);
  }
}

@media (max-width: 1441px) { 

  .grid {
    grid-template-columns: repeat(auto-fill,260px);
  }
}

@media (max-width: 1281px) { 

  .grid {
    grid-template-columns: repeat(auto-fill,240px);
  }
}

@media (max-width: 1240px) { 

  .grid {
    grid-template-columns: repeat(auto-fill,200px);
  }
}

@media (max-width: 1024px) { 

  .grid {
    grid-template-columns: repeat(auto-fill,240px);
  }
}

@media (max-width: 768px) { 

  .grid {
    grid-template-columns: repeat(auto-fill,220px);
  }
}

@media (max-width: 768px) { 

  .grid {
    grid-template-columns: repeat(auto-fill,220px);
  }
}

@media (max-width: 768px) { 

  .grid {
    grid-template-columns: repeat(auto-fill,220px);
  }
}

@media (max-width: 414px) { 

  .grid {
    grid-template-columns: repeat(auto-fill,180px);
  }
}

@media (max-width: 375px) { 

  .grid {
    grid-template-columns: repeat(auto-fill,165px);
  }
}

@media (max-width: 360px) { 

  .grid {
    grid-template-columns: repeat(auto-fill,157px);
  }
}

@media (max-width: 320px) { 

  .grid {
    grid-template-columns: repeat(auto-fill,135px);
  }
}










