@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
    font-family: "Poppins", sans-serif;
    max-width: 1800px;
    width: 100%;
    margin: auto;
}

.btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: small;
}

.btn_primary {
    color: #fff;
    background: #16a083;
}

.btn_primary:hover {
    background: #117964;
    transition: background 0.3s ease-in-out;
}

/* ............/navbar/............ *

/* desktop mode............/// */

.navbar input[type="checkbox"],
.navbar .hamburger_lines {
    display: none;
}

.navbar {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.717);
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.909);
    color: rgb(255, 255, 255);
    opacity: 0.85;
    height: 70px;
    z-index: 12;
    margin-top: -4.5rem;
}

.navbar_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.logo {
    order: 1;
    font-size: 2rem;
    margin: 0 16rem 0 1rem;
    color: #E3B505;
    width: 22vh;
    /* background-color: rgb(146, 2, 2); */
    border-radius: 5px;
    text-align: center;
}

.linklogo {
    text-decoration: none;
}

.search {
    height: 4vh;
    width: 40vh;
    margin: 0rem 0rem;
    border-radius: 5px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-style: none;
    padding: 1rem;
    border: rgb(89, 85, 85);
    border-style: solid;
    border-width: 1px;
    
}

.search:focus {
    box-shadow: 0 0 0 .15vw #E3B505;
    outline: #E3B505;
    border-width: 1px;
    
}
.search::placeholder { color: #6e6e6e; }
.search::placeholder:focus { color: #b08d02; }

.menu_items {
    order: 2;
    display: flex;
    margin-right: 1rem;
}

.nav_items_options_iphone {
    display:none;
} 

.nav_items_opcions {
    /* background-color: blue; */
    position: relative;
    width: 19vh;
    height: 10.2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-right: 0rem;
}

.a_Movie, .a_series {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
}

ul .ul_items {
    display: none;
    background-color: rgb(0, 0, 0);
    position: absolute;
    border-radius: 10px;
    width: 24vh;
    height: 40vh;
    top: 10vh;
    list-style: none;
    padding: 0rem 1.5rem;
    cursor: pointer;
}

.item a {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 11px 0rem;
    text-decoration: none;
    font-size: 1rem;
}

.item_account {
    font-size: 1rem;
    cursor: pointer;
    background:  #e3b705a5;
}

.nav_items_opcions:hover {
    background-color: rgb(13, 16, 15);
    color: #ffcc00;
}

.ul_items li:hover {
    background-color: rgb(13, 16, 15);
}

.item a:hover {
    background-color: rgb(18, 18, 18);
    color: #e3b705de;
}

.nav_items_opcions:hover > .ul_items {
    display: block;
}

/* ......../ media query /.......... */

@media (min-width: 1379px) { 

    ul .ul_items {
        height: 27vh;
        top: 6vh;
    }

    .nav_items_opcions {
        height: 6.4vh;
    }

    .search {
        width: 35vh;
    }

    .logo {
        width: 22vh;
    }

    
}

@media (max-width: 768px) {
    .navbar {
    opacity: 0.95;
    margin: 0;
    margin-top: -4.5rem;
    }

    .navbar_container input[type="checkbox"],
    .navbar_container .hamburger_lines {
    display: block;
    }

    .navbar_container {
    display: block;
    position: relative;
    height: 60px;
    margin:-.5rem .5rem;
    }

    .navbar_container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    }

    .navbar_container .hamburger_lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

    .navbar_container .hamburger_lines .line {
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    }

    .navbar_container .hamburger_lines .line1 {
    transform-origin: 10% 0%;
    transition: transform 0.4s ease-in-out;

    }

    .navbar_container .hamburger_lines .line2 {
    transition: transform 0.2s ease-in-out;
    }

    .navbar_container .hamburger_lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
    }

    .navbar .menu_items {
    padding-top: 100px;
    background: rgb(0, 0, 0);
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -60px;
    padding-left: 30px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.797);
    overflow: scroll;
    }

    .nav_items_opcions {
        display: none;
    }
    
    .nav_items_options_iphone { 
        display:block;
    }

    .nav_items_options_iphone {
        width: 100%;
        /* background-color: red; */
        height: 10vh;
        font-size: 4vh;
        text-align: center;
        overflow: scroll;
    }
    
    .ul_items_iphone {
        /* background-color: rgb(4, 252, 235); */
        text-align: center;
        width: 39vh;
        height: 75vh;
        text-align: center;
        width: 100%;
        margin: 0 0 0 1rem;
        padding: 0rem 0;
        overflow: scroll;
    }
    
    ul .item_iphone {
        /* background-color: rgb(169, 252, 4); */
        width: 100%;
        height: 4.5vh;
        padding: 1rem 0;
        text-decoration: none;
    }

    .item_iphone a {
        width: 100%;
        /* background-color: rgb(252, 223, 4); */
        text-decoration: none;
        padding: 1.8rem 2rem;
        font-size: 3.2vh;
        line-height: 100%;
        color: white;
    }
    
    summary {
        list-style: none;
        color: #ffffff;
    }

    summary::before {
        content: "+";
        padding-right: 1rem;
        color: #00ff3c;
    }

    details[open] summary::before {
        content: "-";
        color:#00d0b1;

    }

    .logo {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 2rem;
    margin-top: .4rem;
    margin-right: 1.5rem;
    width: 22vh;
    }

    .navbar_container input[type="checkbox"]:checked ~ .menu_items {
    transform: translateX(0);
    }

    .navbar_container input[type="checkbox"]:checked ~ .hamburger_lines .line1 {
    transform: rotate(42deg);
    }

    .navbar_container input[type="checkbox"]:checked ~ .hamburger_lines .line2 {
    transform: scaleY(0);
    }

    .navbar_container input[type="checkbox"]:checked ~ .hamburger_lines .line3 {
    transform: rotate(-42deg);
    }

  /* ......./ food /......... */

    .food_container {
    flex-direction: column;
    align-items: stretch;
    }

    .food_type:not(:last-child) {
    margin-bottom: 3rem;
    }

    .food_type {
    box-shadow: 5px 5px 10px 0 #aaa;
    }

    .img_container {
    margin: 0;
    }
    
}

@media (max-width: 500px) {
    html {
    font-size: 65%;
    }

.navbar .menu_items li{
    font-size: 1.6rem;
}

.testimonial_container {
    flex-direction: column;
    text-align: center;
}

.food_menu_container img {
    margin: auto;
}

.food_menu_item {
    flex-direction: column;
    text-align: center;
}

.form_container {
    width: 90%;
}

.contact_container {
    display: flex;
    flex-direction: column;
}

.contact_img {
    width: 90%;
    margin: 3rem auto;
}

.logo {
    position: absolute;
    top: 06px;
    right: 15px;
    font-size: 2.7rem;
    width: 19vh;
}

.navbar .menu_items li {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    font-weight: 500;
}
}

@media (min-width: 769px) and (max-width: 1200px) {
  .img_container h3 {
    font-size: 1.5rem;
}

.img_container .btn {
    font-size: 0.7rem;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
.showcase_area {
    height: 50vmax;
}
}