/* .cuenta-circle {
  position: relative;
  top: -8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid white;
  overflow: hidden;
  margin-right: .6rem;
}

.cuenta-circle-img{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position:center;
  background-size: contain;
  border-radius: 50%;
} */

.container_menu_perfil {
  background-color: rgb(0, 0, 0);
  display: flex;
  display:none;
  position:absolute;
  flex-direction: column;
  align-items: center;
  right: 0rem;
  top: 9.5rem;
  width: 45rem;
  height: 35rem; 
  border-radius: 0 0 10px 12px; 
  overflow: hidden;
}

.container_menu_perfil_list {
  background-color:rgb(0, 0, 0);
  width: 45rem;
  height: 21rem;
  font-size: 10px;
  position:relative;
  right: 1.1rem;
  padding: 15px 10px 20px 10px;
  display: flex;
  align-items: center;
}

.container_menu_container_perfil {
  background-color:rgb(0, 0, 0);
  border-bottom: 2px solid rgb(255, 255, 255);
  display: flex;
  flex-direction:row;
  width: 100%;
  height: 22rem;
}

.container_menu_perfil_circle { 
  background-color:rgb(0, 0, 0);
  background-size: contain;
  background-position:center;
  background-size: contain;
  /* background-image: url(/pagina/assets/img/icons-nav/mas+.png); */
  border-radius: 50%;
  position: relative;
  width: 19rem;
  height: 18rem;
  border: 2px solid rgb(255, 255, 255);
  overflow: hidden;
  top: 1rem;
}

.container_menu_perfil_circle_img {
  width: 100%;
  height: 100%;
  background-size: cover;
  justify-content: center;
  border-radius: 50%;
}

.container_menu_perfil_Name1 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  background-color:rgb(0, 0, 0);
  display: inline-block;
  text-transform:lowercase;
  font-family: roboto;
  color: #f0f8ff;
  width: 23rem;
  height: 5.5rem;
  font-size: 2.9rem;
  display: flex;
  align-items: center;
  margin: 20px 0px 0px 15px;
  padding: 0 0 0 15px;
  border-radius: 20px 4px 4px 0px;
}


.container_menu_perfil_editar_perfil {
  /* background-color:rgb(0, 0, 0); */
  color:rgb(240, 255, 255);
  display: inline;
  margin: 0px 5rem 0px 40px;
  position: relative;
  top: 8rem;
  text-decoration: none;
  font-size: 1.9rem;
}

.container_menu_perfil_type {
  /* background-color:rgba(165, 100, 100, 0.81); */
  color:rgb(227, 170, 15);
  display: inline;
  position: relative;
  top: 8rem;
  text-decoration: none;
  font-size: 1.9rem;
}

.container_menu_perfil_list_option {
  /* background-color:rgb(120, 2, 114); */
  width: 49rem;
  height: 6rem;
  font-size: 2.3rem;
  position:relative;
  padding: 0px 0px 10px 5px;
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.container_menu_perfil_a {
  /* background-color:rgb(83, 90, 9); */
  width: 40rem;
  height: 5rem;
  text-decoration: none;
  color: aliceblue;
  text-transform:uppercase;
  letter-spacing:1px;
  display:flex;
  line-height: 6rem;
  padding: 10px 0 10px 15px;
  margin-left: 2rem;
}

.exit_icon {
  font-size: 25px;
  position: relative;
  left: .5rem;
}

.container_menu_perfil_a:hover {
  background-color:rgb(227, 170, 15);
  color: rgb(255, 255, 255);
}

.container_menu_perfil_editar_perfil:hover {
  color:rgb(227, 170, 15);
  
}

.nav_items_opcions,:hover >.container_menu_perfil {
  display:block;
}

@media screen and (max-width: 2560px) {
  
  .container_menu_perfil {
    /* background-color: rgb(0, 0, 0); */
    right: 0rem;
    top: 7rem;
    width: 32rem;
    height: 28rem; 
  }
  
  .container_menu_perfil_list {
    /* background-color:rgb(9, 159, 24); */
    width: 35rem;
    height: 15rem;
    font-size: 10px;
    right: 1.9rem;
    padding: 20px 10px 20px 10px;
  }
  
  .container_menu_container_perfil {
    /* background-color:rgb(15, 15, 15); */
    width: 100%;
    height: 16rem;
  }
  
  .container_menu_perfil_circle { 
    /* background:rgb(0, 0, 0); */
    width: 15rem;
    height: 13.9rem;
    top: .5rem;
  }
  
  .container_menu_perfil_Name1 {
    /* background-color:rgb(0, 0, 0); */
    width: 18rem;
    height: 5.5rem;
    font-size: 2.4rem;
    margin: 20px 0px 0px 15px;
    padding: 0 0 0 15px;
  }
  
  .container_menu_perfil_editar_perfil {
    /* background-color:rgba(165, 100, 100, 0.81); */
    margin: 0px 2rem 0px 10px;
    top: 4rem;
    font-size: 1.7rem;
  }
  
  .container_menu_perfil_type {
    /* background-color:rgba(165, 100, 100, 0.81); */
    top: 4rem;
    font-size: 1.7rem;
  }
  
  .container_menu_perfil_list_option {
    /* background-color:rgb(120, 2, 114); */
    width: 36rem;
    height: 6rem;
    font-size: 1.7rem;
    padding: 0px 20px 0px 15px;
    margin-top: 2rem;
  }
  
  .container_menu_perfil_a {
    /* background-color:rgb(83, 90, 9); */
    width: 27rem;
    height: 5rem;
    line-height: 6rem;
    padding: 0px 0 0px 15px;
  }
  
}

@media screen and (max-width: 1920px) {
  
  .container_menu_perfil {
    /* background-color: rgb(0, 0, 0); */
    /* display:none; */
    right: 0rem;
    top: 5rem;
    width: 19rem;
    height: 17rem;
  }
  
  .container_menu_perfil_list {
    /* background-color:rgb(9, 159, 24); */
    width: 21rem;
    height: 11rem;
    font-size: 10px;
    right: 2rem;
    padding: 6px;
  }
  
  .container_menu_container_perfil {
    /* background-color:rgb(15, 15, 15); */
    height: 10rem;
  }
  
  .container_menu_perfil_circle { 
    background:rgb(0, 0, 0);
    width: 9rem;
    height: 7.8rem;
    top: .8rem;
  }
  
  .container_menu_perfil_Name1 {
    /* background-color:rgb(0, 0, 0); */
    width: 11rem;
    height: 3.5rem;
    font-size: 1.5rem;
    margin: 10px 0px 0px 9px;
    padding: 0 0 0 15px;
  }
  
  .container_menu_perfil_editar_perfil {
    /* background-color:rgba(165, 100, 100, 0.81); */
    margin: 0px 1.5rem 0px 17px;
    top: 2.9rem;
    font-size: 1rem;
  }
  
  .container_menu_perfil_type {
    /* background-color:rgba(165, 100, 100, 0.81); */
    top: 2.9rem;
    font-size: 1rem;
  }
  
  .container_menu_perfil_list_option {
    /* background-color:rgb(120, 2, 114); */
    width: 20rem;
    height: 3rem;
    font-size: 1rem;
    padding: 0px 0px 0px 10px;
    margin-top: .5rem;
    margin-left: -1.5rem;
  }
  
  .container_menu_perfil_a {
    /* background-color:rgb(83, 90, 9); */
    width: 17rem;
    height: 3rem;
    line-height: 3.5rem;
    padding: 0px 0px 0px 10px;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 1680px) {
  
  .container_menu_perfil {
    /* background-color: rgb(255, 0, 0); */
    /* display:none; */
    right: 0rem;
    top: 5.2rem;
    width: 20rem;
    height: 17rem; 
  }
  
  .container_menu_perfil_list {
    /* background-color:rgb(9, 159, 24); */
    width: 21.9rem;
    height: 11rem;
    right: 2rem;
    padding: 7px;
  }
  
  .container_menu_container_perfil {
    /* background-color:rgb(15, 15, 15); */
    height: 10.7rem;
  }
  
  .container_menu_perfil_circle { 
    /* background:rgb(0, 0, 0); */
    width: 9rem;
    height: 8.3rem;
    top: .6rem ;
  }
  
  .container_menu_perfil_Name1 {
    /* background-color:rgb(0, 0, 0); */
    width: 10rem;
    height: 3.5rem;
    font-size: 1.4rem;
    margin: 10px 0px 0px 9px;
    padding: 0 0 0 15px;
  }
  
  .container_menu_perfil_editar_perfil {
    /* background-color:rgba(165, 100, 100, 0.81); */
    margin: 0px 1.5rem 0px 17px;
    top: 2.5rem;
    font-size: 1rem;
  }
  
  .container_menu_perfil_type {
    /* background-color:rgba(165, 100, 100, 0.81); */
    top: 2.5rem;
    font-size: 1rem;
  }
  
  .container_menu_perfil_list_option {
    /* background-color:rgb(120, 2, 114); */
    width: 24rem;
    height: 3rem;
    font-size: 1rem;
    padding: 0px 10px 0px 10px;
    margin-top: 1rem;
  }
  
  .container_menu_perfil_a {
    /* background-color:rgb(83, 90, 9); */
    width: 18rem;
    height: 3rem;
    line-height: 3.5rem;
    padding: 0px 0 0px 15px;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 1440px) {
  
  .container_menu_perfil {
    /* background-color: rgb(255, 0, 0); */
    /* display:none; */
    right: 1rem;
    top: 4rem;
    width: 15rem;
    height: 14rem; 
  }
  
  .container_menu_perfil_list {
    /* background-color:rgb(9, 159, 24); */
    width: 19rem;
    height: 8rem;
    right: 2rem;
    padding: 7px;
  }
  
  .container_menu_container_perfil {
    /* background-color:rgb(15, 15, 15); */
    height: 8rem;
  }
  
  .container_menu_perfil_circle { 
    /* background:rgb(0, 0, 0); */
    width: 6rem;
    height: 6rem;
    top: .2rem ;
  }
  
  .container_menu_perfil_Name1 {
    /* background-color:rgb(0, 0, 0); */
    width: 11rem;
    height: 3.5rem;
    font-size: 1.2rem;
    margin: 0px 0px 0px 9px;
    padding: 0 0 0 15px;
  }
  
  .container_menu_perfil_editar_perfil {
    /* background-color:rgba(165, 100, 100, 0.81); */
    margin: 0px 1.5rem 0px 10px;
    top: 1rem;
    font-size: .9rem;
  }
  
  .container_menu_perfil_type {
    /* background-color:rgba(165, 100, 100, 0.81); */
    top: 1rem;
    font-size: .9rem;
  }
  
  .container_menu_perfil_list_option {
    /* background-color:rgb(120, 2, 114); */
    width: 20rem;
    height: 3rem;
    font-size: 1rem;
    padding: 0px 10px 0px 10px;
    margin-top: .6rem;
    right: 1.9rem;
    margin-left: 0rem;
  }
  
  .container_menu_perfil_a {
    /* background-color:rgb(83, 90, 9); */
    width: 14rem;
    height: 3rem;
    line-height: 3.5rem;
    padding: 0px 0 0px 15px;
    margin-left: .9rem;
  }
}

@media screen and (max-width: 1280px) {
  
  .container_menu_perfil {
    /* background-color: rgb(255, 0, 0); */
    right: 1rem;
    top: 4rem;
    width: 13.6rem;
    height: 11.5rem; 
    overflow: hidden;
  }
  
  .container_menu_perfil_list {
    /* background-color:rgb(9, 159, 24); */
    width: 15.5rem;
    height: 6.7rem;
    right: .1rem;
    padding: 6px;
  }
  
  .container_menu_container_perfil {
    /* background-color:rgb(15o, 15, 15); */
    width: 13rem;
    height: 6.7rem;
  }
  
  .container_menu_perfil_circle { 
    /* background:rgb(0, 0, 0); */
    width: 14rem;
    height: 4.7rem;
    top: .7rem;
  }
  
  .container_menu_perfil_Name1 {
    background-color:rgb(8, 8, 8);
    width: 6.6rem;
    height: 2.5rem;
    font-size: 1rem;
    margin: 10px 0px 0px 5px;
    padding: 0 0 0 15px;
  }
  
  .container_menu_perfil_editar_perfil {
    /* background-color:rgba(165, 100, 100, 0.81); */
    margin: 0px .5rem 0px 8px;
    top: 1.3rem;
    font-size: .8rem;
  }
  
  .container_menu_perfil_type {
    /* background-color:rgba(165, 100, 100, 0.81); */
    top: 1.3rem;
    font-size: .8rem;
  }
  
  .container_menu_perfil_list_option {
    /* background-color:rgb(2, 118, 120); */
    width: 15rem;
    height: 2.2rem;
    padding: 0px 0px 0px 0px;
    margin-top: .5rem;
    font-size: .8rem;
    left: .4rem;

  }
  
  .container_menu_perfil_a {
    /* background-color:rgb(83, 90, 9); */
    width: 9rem;
    height: 2rem;
    line-height: 2rem;
    padding: 0px 0 0px 9px;
  }
}



